<secion class="main">
    <article class="highlight">
        <div class="headline">
            <h2>Hello, my name is</h2>
            <h1>Raphael Cruzeiro</h1>
            <h2>and I am a software developer</h2>
        </div>
    </article>
    <article class="build">
        <div class="center">
            <div class="constrained">
                <aside>
                    <div class="wrapper">
                        <div class="split left">
                            <div class="cogs">
                                <div class="fa fa-cog big-cog"></div>
                                <div class="fa fa-cog small-cog"></div>
                                <div class="fa fa-cog small-cog"></div>
                            </div>
                        </div>
                        <div class="split right">
                            <h2>I like to <strong>build things!</strong></h2>
                        </div>
                    </div>
                </aside>
                <aside>
                    <p>I am a generalist programmer, working from web development to mobile programming and desktop applications. I also consider myself to have an eye for interface design and product usability.</p>
                    <p>My work comprises of the whole software development stack, from server configuration and backend coding to building an awesome frontend and even eventually creating an Android or iOS app. </p>
                    <p>I am passionate for the beauty of software development and have a strong believe that it is more than just an engineering work, it is a <strong>form of art.</strong></p>
                </aside>
            </div>
        </div>
    </article>
    <article class="tools">
        <div class="center">
            <div class="constrained">
                <aside>
                    <div class="wrapper">
                        <div class="split left">
                            <div class="fa fa-wrench wrench"></div>
                        </div>
                        <div class="split right">
                            <h2>What I use to <strong>build things:</strong></h2>
                        </div>
                    </div>
                </aside>
                <aside>
                    <p>My applications are usually coded in Python using the amazing Django web framework. This powerful combination enables me to deliver high quality software with considerably less development time than the alternatives.</p>
                    <p>On the frontend I like to use the new AngularJS framework to structure my application and create an awesome UX.</p>
                </aside>
            </div>
        </div>
    </article>
</section>
