<secion class="main">
    <article class="highlight" parallax>
        <div class="headline fadeIn">
            <h2>Hello, my name is</h2>
            <h1>Raphael Cruzeiro</h1>
            <h2>and I am a software developer</h2>
        </div>
    </article>
    <article class="build">
        <div class="center">
            <div class="constrained">
                <aside>
                    <div class="wrapper">
                        <div class="split left">
                            <div class="cogs">
                                <div class="fa fa-cog big-cog"></div>
                                <div class="fa fa-cog small-cog"></div>
                                <div class="fa fa-cog small-cog"></div>
                            </div>
                        </div>
                        <div class="split right">
                            <h2>I like to <strong>build things!</strong></h2>
                        </div>
                    </div>
                </aside>
                <aside>
                    <p>I am a generalist programmer, working from web development to mobile programming and desktop applications. I also consider myself to have an eye for interface design and product usability.</p>
                    <p>My work comprises of the whole software development stack, from server configuration and backend coding, to building an awesome frontend and even eventually creating an Android or iOS app. </p>
                    <p>I am passionate for the beauty of software development and have a strong believe that it is more than just an engineering work, it is a <strong>form of art.</strong> This makes a true software developer a mix of an engineer, a scientist and a craftsman.</p>
                </aside>
            </div>
        </div>
    </article>
    <article class="tools">
        <div class="center">
            <div class="constrained">
                <aside>
                    <div class="wrapper">
                        <div class="split left">
                            <div class="fa fa-wrench wrench"></div>
                        </div>
                        <div class="split right">
                            <h2>What I use to <strong>build things:</strong></h2>
                        </div>
                    </div>
                </aside>
                <aside>
                    <p>I have a quite large set of tools to choose for each task:</p><p>The backend of my applications is usually coded in <em>Python</em> using the amazing <em>Django</em> web framework. This powerful combination enables me to deliver high quality software with considerably less development time than the alternatives. Recently, I have also begun rocking some Node backends.</p>
                    <p>My frontends are created using <em>yeoman</em> which generates me a really nice project structure with <em>Grunt</em> to automate tasks, and <em>Bower</em> for dependency management. The code itself is created using HTML5 ans CSS3 (through SASS) combined with the relativelly new <em>AngularJS Framework</em>. This powerful combination allows me to create an awesome, reliable and maintainable frontend guaranteening an amazing UX.</p>
                    <p>I have also been known for ocasinally surf the world of mobile development, creating apps for Android and iOS (and sometimes with the same codebase for both platforms using <em>Cordova</em> with <em>Steroids</em>).</p>
                </aside>
            </div>
        </div>
    </article>
    <div class="separator" parallax></div>
    <article class="portifolio">
        <div class="center">
            <div class="constrained">
                <div class="wrapper">
                    <div class="split left">
                        <div class="fa fa-code code"></div>
                    </div>
                    <div class="split right">
                        <h2>Some stuff that I<br /><strong>have built</strong></h2>
                    </div>
                </div>
                <p>This is a selection of my recent projects that are worth of notice. Some of these projects were developed under contract for my clients and others are open source software. If there is a Github icon next to the project, then the project is open source and the link will take you to the repository.</p>
                <p>I am always looking for volunteers to help with open source work. If you are interested, just drop me a message on the contact form bellow.</p>
                <div class="list">
                    <div class = "item" ng-repeat="project in projects">
                        <h4><a href="{{ project.url }}" target="_blank">{{ project.title }}</a></h4>
                        <div class="github" ng-show="project.github">
                            <a href="{{ project.github.url }}" target="_blank"><i class="github-icon icon fa fa-github"></i></a>
                            <i class="fork-icon icon fa fa-code-fork"></i><span>{{ project.github.forks_count }}</span>
                            <i class="star-icon icon fa fa-star"></i><span>{{ project.github.watchers }}</span>
                        </div>
                        <div class="description" ng-bind-html="project.description"></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<footer>
    <div class="constrained">
        <div class="wrapper">
            <aside class="card">
                <img alt="Raphael Cruzeiro" src="/images/me.jpg"/>
                <h4>You can find me on:</h4>
                <ul>
                    <li><a href="https://github.com/raphaelcruzeiro/" target="_blank"><i class="fa fa-github"></i> Github</a></li>
                    <li><a href="https://twitter.com/rcdeveloper" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li><a href="http://www.linkedin.com/pub/raphael-cruzeiro/57/b49/93a" target="_blank"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                    <li><a href="http://slideshare.com/raphaelcruzeiro" target="_blank">Slideshare</a></li>
                </ul>
            </aside>
            <form name="contactForm" ng-submit="send()" novalidate>
                <h2>Contact me</h2>
                <input type="text" ng-model="contact.name" placeholder="Your name..." />
                <input type="email" ng-nodel="contact.email" placeholder="Email.." />
                <textarea ng-model="contact.message" placeholder="Type your message here..."></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</footer>
