<secion class="main">
    <article class="highlight">
        <div class="headline">
            <h2>Hello, my name is</h2>
            <h1>Raphael Cruzeiro</h1>
            <h2>and I am a software developer</h2>
        </div>
    </article>
    <article class="yellow">
        <div class="center">
            <div class="constrained">
                <div class="wrapper">
                    <div class="split left">
                        <div class="fa fa-cogs cogs"></div>
                    </div>
                    <div class="split right">
                        <h2>I like to <strong>build things!</strong></h2>
                    </div>
                </div>
                <p>I am a generalist programmer, working from web development to iOS programming and desktop applications. I also consider myself to have an eye for interface design and product usability.</p>
                <p>My work comprises of the whole software development stack, from server configuration and backend coding to building an awesome frontend and even eventually creating an Android or iOS app. </p>
                <p>I am passionate for the beauty of software development and have a strong believe that it is more than just an engineering work, it is a form of art.</p>
            </div>
        </div>
    </article>
</section>
